body {
  /* background-color: #303030; */
  padding: 0px;
  margin: 0px;
  /* color: #e8e8e8; */
}

.section2 {
  padding-top: 10vh;
  padding-bottom: 10vh;

}
.section3 {
  padding-top: 10vh;
  padding-bottom: 10vh;

}
.bg-img,#bg-img {
  /* The image used */
  background-image: url("src/H22/H22-Banners-Dark.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h3 {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 25px;
}
.template {
  display: none;
}

#author {
  padding: 2%;
}
#wrap {
  min-height: 55vh;
}

.cont {
  z-index: 3;
}
/* zoom on hover*/
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}
#tsparticles {
  height: 100%;
}

@media only screen and (max-width: 850px) {
  .img-fluid {
    width: 100%;
  }

  #author {
    width: 50% !important;
  }

  #wrap {
    padding-top: 40px;
  }

  .bg-img {
    /* The image used */
    background-image: url("src/H22/H22-BannersMobile-dark.jpg")!important;

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 756px) {
  .img-responsive {
    width: 90%;
    height: 90%;
    margin-top: 2rem;
  }
}

#darkSwitch {
  display: none;
}

#heart:hover {
  color: red;
}

.buttond {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
  padding: 5rem 3rem;
  background-color: rgba(24, 24, 29, 0.959);
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-top: 1rem;
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}


.collapsible
{
  visibility: hidden;
}
.btn-nav{
  margin:10px;
  
}

.collapse{
  padding: 10px;
  
}

.dark-switch{
  width: 150px;
  margin-top:-10px;
  margin-left: -5px;
}

@media only screen and (max-width: 480px) {
  .navb{
    padding-left: 85%;
  }

  .hide
  {
    visibility: hidden;
  }

  .container{
    padding: 0;
    height: 60px;
  }

  .collapsible{
    visibility: visible;
  }

.inner-footer{
  color: #eee;
  background-color: transparent;

}
}